<settings>
   <category label="Auto-View  Settings">
   	<setting id="auto-view" type="bool" label="Enable Automatic View" default="true"/>
   	<setting id="menu-view" type="number" label="Menu View" default="51" enable="!eq(-2,false)"/>
   	<setting id="default-view" type="number" label="Default View" default="50" enable="!eq(-3,false)"/>
      </category>
</settings>